@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes opacity-up{
    from{opacity:0;}
    to{opacity:100}
}

.appear{
    animation-name: opacity-up;
    animation-duration: 1s;
}

.appear-slow{
    animation-name: opacity-up;
    animation-duration: 1s;
}

/* 
*::-webkit-scrollbar {
    display: none;
  }

*{
    -ms-overflow-style: none;
    scrollbar-width: none;
} */